ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=appdb;Username=app;Password=secret
SMTP__HOST=maildev
SMTP__PORT=1025
APP_URL=http://localhost:8080
